@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400&display=swap');

html, body {
  margin: 0;
  padding: 0;
  font-size: 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Anonymous Pro', monospace;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

section {
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #222222;
}

h1 {
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 24px;
}

strong {
  font-weight: 700;
  color: #2f5bff;
}

p {
  text-align: center;
}

code {
  margin: 32px 16px; 
  padding: 8px 16px;
  border-radius: 4px;
  background-color: #dddddd;
  color: #6e6e6e;
  font-family:  'Anonymous Pro', monospace;
}

input {
  max-width: 100px;
  margin-top: 8px;
}

#params-container {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}

#params-container div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 16px;
  margin-left: 24px;
}

#params-container button {
  padding: 8px 16px;
  color: white;
  background: rgb(70, 70, 70);
}

#params-container button:hover {
  background: rgb(92, 92, 92);
}


  